<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>czjf_system</display-name>
  <welcome-file-list>
    <welcome-file>/site/index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>XSSFilter</filter-name>
    <filter-class>cn.itcast.czjf.web.filter.XSSFilter</filter-class>
    <init-param>
      <param-name>validate</param-name>
      <param-value>
			expression|prompt|iframe|frame|SYS.TAB|script|alert|src|href|%|&lt;|>|\\x|%5Cx|\*/|/\*|\＞ |\＜|\‘|\“|\＼|\／|\（|\）
		 </param-value>
    </init-param>
    <init-param>
      <param-name>ignoreUrl</param-name>
      <param-value></param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/loginCheck</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.itcast.czjf.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>cn.itcast.czjf.web.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>TeacherFilter</display-name>
    <filter-name>TeacherFilter</filter-name>
    <filter-class>cn.itcast.czjf.web.filter.TeacherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeacherFilter</filter-name>
    <url-pattern>/atea/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>StudentFilter</display-name>
    <filter-name>StudentFilter</filter-name>
    <filter-class>cn.itcast.czjf.web.filter.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <url-pattern>/site/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <url-pattern>/site/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>StuServlet</display-name>
    <servlet-name>StuServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.StuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuServlet</servlet-name>
    <url-pattern>/StuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VedioServlet</display-name>
    <servlet-name>VedioServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.VedioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VedioServlet</servlet-name>
    <url-pattern>/VedioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramServlet</display-name>
    <servlet-name>ProgramServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.ProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramServlet</servlet-name>
    <url-pattern>/ProgramServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.DocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/DocumentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>cn.itcast.czjf.web.servlets.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
</web-app>